<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HDFC Assignment Test Suite">
 <test name="HDFC HomeLoan Test regression Cases">
    <classes>
       <class name="com.test.verifications.ContactUsPageTest"/>
      <class name="com.test.verifications.HdfcHomePageTest"/>
	  <class name="com.test.verifications.ExistingCustomerTests"/>
    </classes>
  </test> <!-- Test -->
<test name="HDFC HomeLoan smoke Test Cases">
    <classes>
       <class name="com.test.verifications.ContactUsPageTest"/>
      <class name="com.test.verifications.HdfcHomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->