<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <parameter name = "browser" value ="Edge" />
   <parameter name = "url" value ="https://www.hdfc.com" />
    <groups>  
	<run>  
	<include name="Smoke"/>  
	</run>  
	</groups>  
	</test> <!-- Test -->
	<test name="HdfcHomePageTest">      
    <classes>
    	<class name="com.test.verifications.HdfcHomePageTest"/>   	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->